<div>
    <app-navigation-bar></app-navigation-bar>

    <div class="content-body">
        <div class="personal-info">

            <div class="personal-image" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true;">
                <div class="personal-image-circle uk-border-circle">
                    <span class=" icon-user"></span>
                </div>
            </div>
            <div class="personal-text" uk-scrollspy="cls: uk-animation-slide-top; repeat: true; delay: 1000ms">
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore natus nisi iusto totam
                    voluptatem quisquam aspernatur voluptatibus expedita temporibus. Quas deserunt quae nam ea unde
                    praesentium deleniti consectetur, dicta dolorum?</span>
            </div>
        </div>
    </div>
</div>