<app-navigation-bar></app-navigation-bar>

<div class="content-body">
    <div class="personal-info">

        <div class="personal-image" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false;">
            <div class="personal-image-circle uk-border-circle">
                <span class=" icon-user" style="font-size: 150pt;"></span>
                <!-- <img src="../../../assets/images/AirBrush_20200302222602.jpg" alt=""> -->
            </div>
        </div>
        <div class="personal-text" uk-scrollspy="cls: uk-animation-slide-top; repeat: false; delay: 1000ms">
            <div class="name">
                <h2>Quem é Ornellas Profissionalmente?</h2>
            </div>
            <div class="description-container">
                <p class="description">
                    Formado em Direito, mas abandonou a carreira para seguir na área de Desenvolvimento
                    Humano em 2016.
                </p>
                <p class="description">
                    Atualmente é Pesquisador da área da Motivação Humana tendo entrevistado + de 5 mil profissionais e
                    treinado
                    mais de 1.300 pessoas.
                </p>
                <p class="description">
                    É Treinador Comportamental (IFT), Especialista em Gestão de Pessoas (Ufscar), Practitioner em
                    Programação Neurolinguística e possui extensão em Neurociência aplicada ao Treinamento e
                    Desenvolvimento de Pessoas.
                </p>
                <p class="description">

                    Atualmente trabalha numa multinacional que está presente em 44 países e
                    é um dos responsáveis pelo Aprendizado e Desenvolvimento no Brasil, como também é palestrante e dá
                    consultorias sobre Desenvolvimento Pessoal.
                </p>
            </div>
        </div>
    </div>
</div>