<div class="menu-container">
    <span class="icon-home" style="margin: 15px">Início</span>
    <span class="icon-lightbulb" style="margin: 15px">Sobre</span>
</div>

<div class="menu-container-mobile">
    <span class="icon-menu" uk-toggle="target: #offcanvas-push"></span>
</div>

<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <div class="left-bar">
            <span style="margin: 15px">Item</span>
            <span style="margin: 15px">Item</span>
            <span style="margin: 15px">Item</span>
        </div>

    </div>
</div>