.menu-container {
  display: flex;
  flex-direction: column;

  span {
    font-size: 16pt;
    color: #8c53c6;
    cursor: pointer;
  }
}


@media (max-width: 1024px) {
  .menu-container {
    display: none;
  }

  .menu-container-mobile {
    display: flex;
    flex-direction: row;

    span {
      font-size: 16pt;
      color: white;
      cursor: pointer;
      margin: 5px 10px
    }
  }
}

@media (min-width: 1025px) {

  .menu-container-mobile {
    display: none;
  }

  :host {
    width: 24%;
    position: absolute
  }
}


.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  span {
    color: #8c53c6;
    font-weight: 500;
    font-size: 14pt;
  }
}
