@import '../../../assets/css/variables.scss';

.menu-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  a {
    font-size: 16pt;
    color: $default_backgroundColor;
    text-decoration: none;
  }

  &:hover {
    background-color: $default_backgroundColor;
    color: white;

    >a {
      color: white;
    }
  }
}

.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  a {
    color: $default_backgroundColor;
    font-weight: 500;
    font-size: 14pt;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:hover {
    background-color: $default_backgroundColor;
    color: white;

    >a {
      color: white;
    }
  }
}

.uk-offcanvas-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0;

  .uk-offcanvas-close {
    position: unset;
    z-index: 1000;
    align-self: flex-end;
    padding-top: 30px;
    padding-right: 30px;
    -webkit-tap-highlight-color: transparent;
  }
}

.icon-menu {
  color: white;
}

@media (max-width: 1024px) {
  .menu-container {
    display: none;
  }

  .menu-container-mobile {
    display: flex;
    position: absolute;

    span {
      cursor: pointer;
      font-size: 16pt;
      margin: 10px;
    }
  }
}

@media (min-width: 1025px) {

  .menu-container-mobile {
    display: none;
  }

  :host {
    width: 330px;
    position: absolute;
  }
}
