<div class="menu-container" *ngFor="let route of routes" (click)="closeMenu(route.routeName)">
    <a style="margin: 15px">{{route.displayName}}</a>
</div>

<div class="menu-container-mobile">
    <span class="icon-menu" uk-toggle="target: #offcanvas-push"></span>
</div>

<div class="side-menu" id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">

    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <div class="left-bar" *ngFor="let route of routes" (click)="closeMenu(route.routeName)">
            <a  style="margin: 15px">{{route.displayName}}</a>
        </div>

    </div>
</div>