@import '../../../assets/css/variables.scss';

:host {
  background-color: $default_backgroundColor;
}

.first-row,
.seccond-row,
.third-row {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-row {
  background-position: right;
  background-size: unset;
  background-color: white;
  background-image: url('../../../assets/images/full_man-in-suit-jacket-standing-beside-projector-screen-2173508.jpg');

  img {
    align-self: flex-end;
  }
}

@media screen and (max-width: 900px) {

  .first-row {
    background-position: center 0;
    background-color: white;
    display: block;
    overflow-x: hidden;
  }

  .uk-card {
    margin: 10px 0;
  }

  .scroll-down {
    .content {
      margin-bottom: 0;
    }
  }
}

.seccond-row {
  transform: translateY(0px) !important;
}

.seccond-row-content {
  padding: 0px 10px;

  .text-name {
    padding: 10px 0;
  }
}


.scroll-down {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: white;

  span {
    align-self: center
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    cursor: pointer;
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  .arrow-down {
    align-self: center;
    bottom: 0px;
    animation-name: downToUp;
    animation-duration: 0.6s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes downToUp {
    0% {
      bottom: 0;
    }

    50% {
      bottom: 5px;
    }

    100% {
      bottom: 8px;
    }
  }

}

.profile-info {

  display: flex;
  flex-direction: row;

  .profile-user {
    background-color: white;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon-user {
      font-size: 100px;
      align-self: center;
    }
  }
}

.third-row {
  background-image: url('../../../assets/images/full_man-in-suit-jacket-standing-beside-projector-screen-2173508.jpg');
}
