<div class="home-container">
    <div class="first-row"></div>

    <div class="seccond-row" uk-parallax="opacity: 0,1; y: 50,0; viewport: 1">

        <div>
            <h2 style="color: white;">Vitor Ornellas</h2>
        </div>
        <div class="card-container uk-column-1-1@s uk-column-1-3@m">
            <div class=" uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Imprestável</h3>
                <p>Não tiro o prato da mesa depois das refeições.</p>
            </div>

            <div class=" uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Desorganizado</h3>
                <p>Coloco o tapate de baixo da pia porque eu acho que vou me cobrir com ele.</p>
            </div>

            <div class=" uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Falso</h3>
                <p>Diz que faço mas nunca fiz.</p>
            </div>
        </div>
    </div>
</div>