<div class="home-container">

    <div>
        <app-side-menu></app-side-menu>

        <div class="first-row">
            <!-- <img class="first-row-image" src="../../../assets/images/AirBrush_20191227171012.jpg"> -->

            <div class="scroll-down">
                <a class="content" href="#body-content" uk-scroll>
                    <span>Mais</span>
                    <span class="arrow-down icon-angle-down"></span>
                </a>
            </div>
        </div>
    </div>

    <div id="body-content">
        <app-navigation-bar></app-navigation-bar>

        <div class="seccond-row" uk-parallax="opacity: 0,1; y: 0,30; viewport: 0.3">

            <div class="seccond-row-content">
                <div class="text-name">
                    <h2 style="color: white;">Vitor Ornellas</h2>
                </div>
                <div class="card-container uk-column-1-1@s uk-column-1-3@m">
                    <div class="uk-card uk-card-default uk-card-small uk-card-body" *ngFor="let item of [1,2,3]">
                        <h3 class="uk-card-title">Lorem</h3>
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.adipisicing elit.adipisicing elit.</span>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="third-row">
            <div class="profile-info">
                <div class="" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true;">
                    <div class="profile-user uk-border-circle" style="background-color: white;">
                        <span class=" icon-user"></span>
                    </div>
                </div>
                <div class="" uk-scrollspy="cls: uk-animation-slide-top; repeat: true; delay: 1000ms"
                    style="background-color: white;">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </div>
            </div>
        </div> -->
    </div>
</div>